@font-face {
    font-family: "Troglodyte";
    src: url("../assets/fonts/TroglodyteNf-WY44.ttf");
}

:root {
    --green1: rgb(179, 207, 153);
    --green2: rgb(117, 151, 94);
    --green3: rgb(50, 65, 45);
    --green4: rgb(88, 100, 77);

    line-height: 1.5em;
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#banner {
    background-image: url("../assets/images/tropical-bg.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner > div {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Troglodyte";
    font-size: 2rem;
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

#banner > p {
    color: white;
    position: absolute;
    bottom: 5px;
}

a {
    color: white;
}

h1 {
    letter-spacing: 0.12em;
}

#banner > div > img {
    width: 40%;
    transform: scaleX(-1);
}

#content {
    display: flex;
    flex-direction: column;
}

#form-container {
    background-color: var(--green2);
    padding: 20px;
}

#form-container > p {
    width: max-content;
    margin: 0 auto 20px auto;
}

form {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    row-gap: 20px;
}

form div {
    width: 70%;
}

label {
    display: block;
}

input {
    width: 100%;
    height: 30px;
    padding: 10px;
    background-color: var(--green1);
    border-radius: 5px;
}

input:focus {
    outline: none;
    box-shadow: 3px 3px 5px var(--green4);
}

input:focus:valid {
    border: 2px solid green;
}

input:focus:invalid, .error {
    border: 2px solid red;
}

.info {
    background-color: var(--green1);
    font-size: 1.25rem;
    flex: 1;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.info:first-child {
    justify-content: flex-end;
}

.info:last-child {
    box-shadow: inset 0 5px 5px var(--green4);
    font-size: 1rem;
}

.info:last-child > p > a {
    text-decoration: none;
}

.info > button {
    background-color: var(--green3);
    color: white;
    cursor: pointer;
    box-shadow: 3px 3px 5px var(--green4);
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 10px 40px;
}

@media screen and (max-width: 950px) {
    main {
        grid-template-columns: 1fr;
    }

    #banner > div {
        height: 100%;
    }

    #banner > p {
        bottom: 0;
        left: 5px;
    }

    .info:last-child {
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }

    #banner > p {
        font-size: 0.6rem;
        bottom: 0;
        left: 5px;
    }

    form {
        grid-template-columns: 1fr;
    }

    .info:last-child {
        align-items: center;
    }

}